html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

body {
  /* font-family: 'Lora', serif; */
  font-family: "Open Sans", sans-serif;
  color: #000;
  background-color: #fff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}